
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 3px;
}

table
{
    font-size: 10px;
}

.badge
{

    font-size: 9px;
    font-weight: normal;
    background-color: #4ea9ca;
    border-radius: 10px;
    position: relative;
    top: -1px;
}

.green
{
    background-color:#10BF46;
}